@font-face {
    font-family: 'iconfont';  /* project id 1551925 */
    src: url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.eot');
    src: url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.woff') format('woff'),
    url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1551925_aidmo3if8ef.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}